In [40]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [41]:
train = pd.read_csv("Train.csv")
test = pd.read_csv("Test.csv")

In [42]:
train['source']='train'
test['source']='test'

data=pd.concat([train, test], sort=True)
print(train.shape, test.shape, data.shape)

(8523, 13) (5681, 12) (14204, 13)

In [43]:
data.head()

,Item_Fat_Content,Item_Identifier,Item_MRP,Item_Outlet_Sales,Item_Type,Item_Visibility,Item_Weight,Outlet_Establishment_Year,Outlet_Identifier,Outlet_Location_Type,Outlet_Size,Outlet_Type,source
0,Low Fat,FDA15,249.8092,3735.1380,Dairy,0.016047,9.30,1999,OUT049,Tier 1,Medium,Supermarket Type1,train
1,Regular,DRC01,48.2692,443.4228,Soft Drinks,0.019278,5.92,2009,OUT018,Tier 3,Medium,Supermarket Type2,train
2,Low Fat,FDN15,141.6180,2097.2700,Meat,0.016760,17.50,1999,OUT049,Tier 1,Medium,Supermarket Type1,train
3,Regular,FDX07,182.0950,732.3800,Fruits and Vegetables,0.000000,19.20,1998,OUT010,Tier 3,NaN,Grocery Store,train
4,Low Fat,NCD19,53.8614,994.7052,Household,0.000000,8.93,1987,OUT013,Tier 3,High,Supermarket Type1,train

In [44]:
data.describe()

,Item_MRP,Item_Outlet_Sales,Item_Visibility,Item_Weight,Outlet_Establishment_Year
count,14204.000000,8523.000000,14204.000000,11765.000000,14204.000000
mean,141.004977,2181.288914,0.065953,12.792854,1997.830681
std,62.086938,1706.499616,0.051459,4.652502,8.371664
min,31.290000,33.290000,0.000000,4.555000,1985.000000
25%,94.012000,834.247400,0.027036,8.710000,1987.000000
50%,142.247000,1794.331000,0.054021,12.600000,1999.000000
75%,185.855600,3101.296400,0.094037,16.750000,2004.000000
max,266.888400,13086.964800,0.328391,21.350000,2009.000000

In [45]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14204 entries, 0 to 5680
Data columns (total 13 columns):
Item_Fat_Content             14204 non-null object
Item_Identifier              14204 non-null object
Item_MRP                     14204 non-null float64
Item_Outlet_Sales            8523 non-null float64
Item_Type                    14204 non-null object
Item_Visibility              14204 non-null float64
Item_Weight                  11765 non-null float64
Outlet_Establishment_Year    14204 non-null int64
Outlet_Identifier            14204 non-null object
Outlet_Location_Type         14204 non-null object
Outlet_Size                  10188 non-null object
Outlet_Type                  14204 non-null object
source                       14204 non-null object
dtypes: float64(4), int64(1), object(8)
memory usage: 1.5+ MB

In [46]:
#data cleaning (check missing values:)
data.apply(lambda x: sum(x.isnull()))

Item_Fat_Content                0
Item_Identifier                 0
Item_MRP                        0
Item_Outlet_Sales            5681
Item_Type                       0
Item_Visibility                 0
Item_Weight                  2439
Outlet_Establishment_Year       0
Outlet_Identifier               0
Outlet_Location_Type            0
Outlet_Size                  4016
Outlet_Type                     0
source                          0
dtype: int64

In [47]:
#filling missing values
data.Item_Outlet_Sales = data.Item_Outlet_Sales.fillna(data.Item_Outlet_Sales.mean())

In [48]:
data.Item_Weight = data.Item_Weight.fillna(data.Item_Weight.mean())

In [49]:
data['Outlet_Size'].value_counts()

Medium    4655
Small     3980
High      1553
Name: Outlet_Size, dtype: int64

In [50]:
data.Outlet_Size = data.Outlet_Size.fillna('Medium')

In [51]:
data.apply(lambda x: sum(x.isnull()))

Item_Fat_Content             0
Item_Identifier              0
Item_MRP                     0
Item_Outlet_Sales            0
Item_Type                    0
Item_Visibility              0
Item_Weight                  0
Outlet_Establishment_Year    0
Outlet_Identifier            0
Outlet_Location_Type         0
Outlet_Size                  0
Outlet_Type                  0
source                       0
dtype: int64

In [52]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14204 entries, 0 to 5680
Data columns (total 13 columns):
Item_Fat_Content             14204 non-null object
Item_Identifier              14204 non-null object
Item_MRP                     14204 non-null float64
Item_Outlet_Sales            14204 non-null float64
Item_Type                    14204 non-null object
Item_Visibility              14204 non-null float64
Item_Weight                  14204 non-null float64
Outlet_Establishment_Year    14204 non-null int64
Outlet_Identifier            14204 non-null object
Outlet_Location_Type         14204 non-null object
Outlet_Size                  14204 non-null object
Outlet_Type                  14204 non-null object
source                       14204 non-null object
dtypes: float64(4), int64(1), object(8)
memory usage: 1.5+ MB

In [53]:
data['Item_Identifier'].value_counts()
data['Item_Type_Combined'] = data['Item_Identifier'].apply(lambda x: x[0:2])
data['Item_Type_Combined'] = data['Item_Type_Combined'].map({'FD' : 'Food', 'NC' : 'Non-Consumable','DR': 'Drinks'})
data['Item_Type_Combined'].value_counts()

Food              10201
Non-Consumable     2686
Drinks             1317
Name: Item_Type_Combined, dtype: int64

In [54]:
from sklearn.preprocessing import LabelEncoder , OneHotEncoder
data = pd.get_dummies(data, columns=['Item_Fat_Content', 'Outlet_Location_Type', 'Outlet_Size', 'Outlet_Type', 'Outlet_Identifier', 'Item_Type_Combined'])

In [55]:
data.head()

,Item_Identifier,Item_MRP,Item_Outlet_Sales,Item_Type,Item_Visibility,Item_Weight,Outlet_Establishment_Year,source,Item_Fat_Content_LF,Item_Fat_Content_Low Fat,...,Outlet_Identifier_OUT018,Outlet_Identifier_OUT019,Outlet_Identifier_OUT027,Outlet_Identifier_OUT035,Outlet_Identifier_OUT045,Outlet_Identifier_OUT046,Outlet_Identifier_OUT049,Item_Type_Combined_Drinks,Item_Type_Combined_Food,Item_Type_Combined_Non-Consumable
0,FDA15,249.8092,3735.1380,Dairy,0.016047,9.30,1999,train,0,1,...,0,0,0,0,0,0,1,0,1,0
1,DRC01,48.2692,443.4228,Soft Drinks,0.019278,5.92,2009,train,0,0,...,1,0,0,0,0,0,0,1,0,0
2,FDN15,141.6180,2097.2700,Meat,0.016760,17.50,1999,train,0,1,...,0,0,0,0,0,0,1,0,1,0
3,FDX07,182.0950,732.3800,Fruits and Vegetables,0.000000,19.20,1998,train,0,0,...,0,0,0,0,0,0,0,0,1,0
4,NCD19,53.8614,994.7052,Household,0.000000,8.93,1987,train,0,1,...,0,0,0,0,0,0,0,0,0,1

In [56]:
data.dtypes

Item_Identifier                       object
Item_MRP                             float64
Item_Outlet_Sales                    float64
Item_Type                             object
Item_Visibility                      float64
Item_Weight                          float64
Outlet_Establishment_Year              int64
source                                object
Item_Fat_Content_LF                    uint8
Item_Fat_Content_Low Fat               uint8
Item_Fat_Content_Regular               uint8
Item_Fat_Content_low fat               uint8
Item_Fat_Content_reg                   uint8
Outlet_Location_Type_Tier 1            uint8
Outlet_Location_Type_Tier 2            uint8
Outlet_Location_Type_Tier 3            uint8
Outlet_Size_High                       uint8
Outlet_Size_Medium                     uint8
Outlet_Size_Small                      uint8
Outlet_Type_Grocery Store              uint8
Outlet_Type_Supermarket Type1          uint8
Outlet_Type_Supermarket Type2          uint8
Outlet_Type_Supermarket Type3          uint8
Outlet_Identifier_OUT010               uint8
Outlet_Identifier_OUT013               uint8
Outlet_Identifier_OUT017               uint8
Outlet_Identifier_OUT018               uint8
Outlet_Identifier_OUT019               uint8
Outlet_Identifier_OUT027               uint8
Outlet_Identifier_OUT035               uint8
Outlet_Identifier_OUT045               uint8
Outlet_Identifier_OUT046               uint8
Outlet_Identifier_OUT049               uint8
Item_Type_Combined_Drinks              uint8
Item_Type_Combined_Food                uint8
Item_Type_Combined_Non-Consumable      uint8
dtype: object

In [57]:
#exporting data (making precise and ready for model building)

#drop columns which is converted to other
#train = pd.read_csv("Train.csv")
#test = pd.read_csv("Test.csv")
#train['source']='train'
#test['source']='test'
#data=pd.concat([train, test], sort=True)
data.drop(['Item_Type', 'Outlet_Establishment_Year'], 1, inplace=True )

#divide into test and train :
train = data.loc[data['source']=="train"]
test = data.loc[data['source']=="test"]

#drop unnecessary columns:

#Export files as modified versions:
train.to_csv("train_modified.csv", index=False)
test.to_csv("test_modified.csv", index=False)

In [58]:
#Model Building
train2 = pd.read_csv("train_modified.csv")
test2 = pd.read_csv("train_modified.csv")

In [59]:
train2.head()

,Item_Identifier,Item_MRP,Item_Outlet_Sales,Item_Visibility,Item_Weight,source,Item_Fat_Content_LF,Item_Fat_Content_Low Fat,Item_Fat_Content_Regular,Item_Fat_Content_low fat,...,Outlet_Identifier_OUT018,Outlet_Identifier_OUT019,Outlet_Identifier_OUT027,Outlet_Identifier_OUT035,Outlet_Identifier_OUT045,Outlet_Identifier_OUT046,Outlet_Identifier_OUT049,Item_Type_Combined_Drinks,Item_Type_Combined_Food,Item_Type_Combined_Non-Consumable
0,FDA15,249.8092,3735.1380,0.016047,9.30,train,0,1,0,0,...,0,0,0,0,0,0,1,0,1,0
1,DRC01,48.2692,443.4228,0.019278,5.92,train,0,0,1,0,...,1,0,0,0,0,0,0,1,0,0
2,FDN15,141.6180,2097.2700,0.016760,17.50,train,0,1,0,0,...,0,0,0,0,0,0,1,0,1,0
3,FDX07,182.0950,732.3800,0.000000,19.20,train,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
4,NCD19,53.8614,994.7052,0.000000,8.93,train,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1

In [60]:
train2 = pd.read_csv("train_modified.csv") 
y_train = train2.Item_Outlet_Sales
X_train = train2.drop(['source', 'Item_Outlet_Sales', 'Item_Identifier'], 1, inplace=False)

In [61]:
train2.head()

,Item_Identifier,Item_MRP,Item_Outlet_Sales,Item_Visibility,Item_Weight,source,Item_Fat_Content_LF,Item_Fat_Content_Low Fat,Item_Fat_Content_Regular,Item_Fat_Content_low fat,...,Outlet_Identifier_OUT018,Outlet_Identifier_OUT019,Outlet_Identifier_OUT027,Outlet_Identifier_OUT035,Outlet_Identifier_OUT045,Outlet_Identifier_OUT046,Outlet_Identifier_OUT049,Item_Type_Combined_Drinks,Item_Type_Combined_Food,Item_Type_Combined_Non-Consumable
0,FDA15,249.8092,3735.1380,0.016047,9.30,train,0,1,0,0,...,0,0,0,0,0,0,1,0,1,0
1,DRC01,48.2692,443.4228,0.019278,5.92,train,0,0,1,0,...,1,0,0,0,0,0,0,1,0,0
2,FDN15,141.6180,2097.2700,0.016760,17.50,train,0,1,0,0,...,0,0,0,0,0,0,1,0,1,0
3,FDX07,182.0950,732.3800,0.000000,19.20,train,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
4,NCD19,53.8614,994.7052,0.000000,8.93,train,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1

In [62]:
y_train.head()

0    3735.1380
1     443.4228
2    2097.2700
3     732.3800
4     994.7052
Name: Item_Outlet_Sales, dtype: float64

In [63]:
X_train.head()

,Item_MRP,Item_Visibility,Item_Weight,Item_Fat_Content_LF,Item_Fat_Content_Low Fat,Item_Fat_Content_Regular,Item_Fat_Content_low fat,Item_Fat_Content_reg,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,...,Outlet_Identifier_OUT018,Outlet_Identifier_OUT019,Outlet_Identifier_OUT027,Outlet_Identifier_OUT035,Outlet_Identifier_OUT045,Outlet_Identifier_OUT046,Outlet_Identifier_OUT049,Item_Type_Combined_Drinks,Item_Type_Combined_Food,Item_Type_Combined_Non-Consumable
0,249.8092,0.016047,9.30,0,1,0,0,0,1,0,...,0,0,0,0,0,0,1,0,1,0
1,48.2692,0.019278,5.92,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
2,141.6180,0.016760,17.50,0,1,0,0,0,1,0,...,0,0,0,0,0,0,1,0,1,0
3,182.0950,0.000000,19.20,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,53.8614,0.000000,8.93,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [67]:
X_test = test2.drop(['source', 'Item_Identifier', 'Item_Outlet_Sales'], axis=1)

In [68]:
#linear Regression
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [69]:
y_pred = regressor.predict(X_test)

In [70]:
y_pred

array([4060.54509543,  580.28335063, 2372.67460024, ..., 1510.60390216,
       1412.30985231, 1221.17795233])

In [72]:
from sklearn.metrics import accuracy_score, r2_score, mean_squared_error
from sklearn.model_selection import cross_val_score

In [73]:
lr_accuracy = round(regressor.score(X_train,y_train) * 100,2)
lr_accuracy

56.36